.panel-heading{
    font-size:150%;
}
.btn-success{
    size:120px;
    position: absolute; top:50%; left:90%
}
.btn-danger{
    width: 120px;
    position: absolute; top:50%; left:103%
}
.btn-warning{
    width: 120px;
    position: absolute; top:50%; left:116.5%
}
h3{
    position:static; top: auto; left: 3%
}
body {
    width:  1400px;
    transform: translate(10%, 5%);
}