.panel-heading{
    font-size:100%;
}
.btn-success{
    size:120px;
    position: absolute; top:50%; left:48%
}
.btn-danger{
    width: 120px;
    position: absolute; top:50%; left:65%
}
.btn-warning{
    width: 120px;
    position: absolute; top:50%; left:83%
}
h3{
    position:static; top: auto; left: 3%
}
.help-block{
    width: 150px;
    position: absolute; top:00%; left:92%
}

body {
    width:  1100px;
    transform: translate(10%, 10%);
}