<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<body>

<form class="form-horizontal">
    <div class="panel panel-primary"><br/><br/>
    <!-- INÍCIO DO CONTEÚDO -->
    <section class="content">
         
         <a class="btn btn-primary btn-lg" id="buttom1" [routerLink]="['/cadastrar-cliente']"><p></p>CADASTRAR <br/>CLIENTES</a>
         <a class="btn btn-primary btn-lg" id="buttom2" [routerLink]="['/cadastrar-ferramenta']"><p></p>CADASTRAR <br/>FERRAMENTAS</a><br/><br/>
      
    </section>
    <!-- FIM DO CONTEÚDO -->
    </div>



</form>
</body>
