<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<body>

<form class="form-horizontal">
    <div class="panel panel-primary">
    <!-- INÍCIO DO CONTEÚDO -->
    <section class="content-header">
    </section>

    <section class="content">

      <div class="jumbotron welcome-jumbotron">
          
           <H2>Inicie seu orçamento no botão abaixo!</H2>
         
         <a class="btn btn-primary btn-lg" [routerLink]="['/cadastrar-cliente']">INICIAR</a>
      </div>

    </section>
    <!-- FIM DO CONTEÚDO -->
    </div>



</form>
</body>
